
    <!DOCTYPE html>
    <html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Hello WebSocket</title>
        <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/main.css" rel="stylesheet">
        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/sockjs-client/sockjs.min.js"></script>
        <script src="/webjars/stomp-websocket/stomp.min.js"></script>
        <script src="/main.js"></script>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>

    <div class="row">
        <div class="col-md-12">


            <div th:each="msg:${allMessages}">
                <b th:text="${msg.sender}+' : '"></b>
                <span th:text="${msg.message}"></span>
                <br>
            </div>


            <div id="greetings"></div>



        </div>
    </div>

<div class="col-md-6">
    <form class="form-inline" th:object="${hellomessage}">
        <div class="form-group">
            <br><br>
            <label for="sender"></label>
            <input type="hidden" id="sender" class="form-control" th:field="*{sender}">
            <label for="receiver"></label>
            <input type="hidden" id="receiver" class="form-control" th:field="*{receiver}">
            <label for="message"></label>
            <input type="text" th:field="*{message}" id="message" class="form-control" placeholder="Your message">
        </div>
        <button id="send" class="btn btn-default" type="reset">Send</button>
    </form>
</div>


</body>
</html>